/* ABOUT SECTION */
.about-section {
  width: 90%;
  max-width: 1300px;
  margin: auto;

  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;

  padding: 50px 0;
}

/* ========================= */
/* LEFT SIDE */
/* ========================= */

.profile-card {
  flex: 1;
  min-width: 320px;
  max-width: 500px;
}

.profile-image {
  width: 100%;
  height: 350px;

  object-fit: cover;

  border-radius: 20px;
  display: block;
}

/* GREEN BOX */
.profile-info {
  background: linear-gradient(
  135deg,
  #538932 20%,
  #8eab1d 80%
  );

  box-shadow: 0 4px 15px rgba(83, 137, 50, 0.35);;
  color: white;

  padding: 25px 30px;
  border-radius: 20px;

  margin-top: 20px;
}

.profile-info h2 {
  margin: 0;
  font-size: 34px;
}

.profile-info p {
  margin-top: 8px;
  font-size: 20px;
}

/* DESCRIPTION */
.profile-desc {
  margin-top: 25px;
  color: white;
}

.profile-desc p {
  font-size: 20px;
  line-height: 1.7;
}

/* ========================= */
/* RIGHT SIDE */
/* ========================= */

.education-area {
  flex: 1;
  min-width: 320px;
}

.education-area h1 {
  color: white;
  font-size: 70px;
  margin-bottom: 30px;
}

/* CARD */
.edu-card {
  display: flex;
  align-items: center;
  gap: 25px;

  border: 3px solid #7ea612;
  border-radius: 20px;

  padding: 18px;
  margin-bottom: 25px;

  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(10px);
}

/* IMAGE */
.edu-card img {
  width: 270px;
  height: 95px;

  object-fit: cover;

  border-radius: 20px;

  flex-shrink: 0;
}

/* TEXT */
.edu-text h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 8px;
}

.edu-text p {
  color: white;
  font-size: 20px;
  margin: 0;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width: 768px) {

  .about-section {
    flex-direction: column;
    gap: 40px;
  }

  .education-area h1 {
    font-size: 45px;
    text-align: center;
  }

  .edu-card {
    flex-direction: column;
    text-align: center;
  }

  .edu-card img {
    width: 100%;
    height: 180px;
  }

  .profile-info h2 {
    font-size: 28px;
  }

  .profile-desc p,
  .edu-text p {
    font-size: 16px;
  }
}