/* RESET */
* {
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  margin-top: 80px;
  background: linear-gradient(to bottom, #1e2236, #003878);
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(30, 41, 59, 0.6);
  backdrop-filter: blur(10px);
  padding: 12px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* KIRI */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 150px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

/* BRAND */
.brand-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.brand {
  color: white;
  font-size: 20px;
}

/* KANAN */
.nav-right a {
  position: relative;
  color: white;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-right a:hover {
  color: #38bdf8;
}

/* ACTIVE MENU */
.nav-right a.active {
  color: #38bdf8;
}

/* UNDERLINE ANIMATION */
.nav-right a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #38bdf8;
  transition: width 0.3s ease;
}

.nav-right a:hover::after {
  width: 100%;
}

/* HEADER */
header {
  background-image: url("image/Bground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 120px 30px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
}

.hero-text {
  flex: 1;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

/* SECTION */
section {
  background: linear-gradient(to right, white, rgb(245, 222, 222));
  margin: 20px auto;
  padding: 25px;
  max-width: 1100px;
  width: 90%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* FOOTER */
footer {
  background: linear-gradient(to bottom, #1e2236, #003878);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* TEXT */
h1 {
  font-size: 40px;
}

h2 {
  font-family: 'Radley', serif;
  font-size: 68px;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  line-height: 1.6;
}
.menu-toggle {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* ========================= */
/* 📱 RESPONSIVE (MOBILE) */
/* ========================= */
@media (max-width: 768px) {

  /* NAVBAR */
  .menu-toggle {
    display: block;
  }
  nav {
    padding: 10px 20px;
  }

  .logo {
    width: 150px;
  }

  .nav-right {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: rgba(30, 41, 59, 0.95);

    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 0;           /* sembunyi */
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav-right a {
    margin: 15px 0;
    font-size: 18px;
  }

  .nav-right.active {
    max-height: 300px; /* muncul smooth */
  }

  /* HEADER */
  header {
    padding: 40px 20px;
  }

  /* TEXT */
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  /* HERO */
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px;
    padding: 20px;
  }

  .hero-text h2 {
    margin-bottom: 5px;
  }

  .hero-text p {
    margin-top: 0;
  }

  .hero-image {
    text-align: center;
    margin-top: 5px;
  }

  .hero-image img {
    max-width: 250px;
  }

  /* SECTION */
  section {
    width: 90%;
    padding: 20px;
  }

}